#body {
    width: 1480px;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    width: 292px;
    height: 74px;
    padding-top: 61px;
    padding-left: 101px;
    padding-bottom: 45px;
}

.header1 {
    font-family: 'Myriad Pro';
    color: #000000;
    font-size: 80px;
    font-weight: 400;
}

.header2 {
    font-family: 'Myriad Pro';
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400;
}

.mainBlock {
    background-color: #35444f;
    width: 1280px;
    height: 69px;
    margin-left: 100px;
    text-align: center;
}

.mainMenu {
    font-family: 'Myriad Pro';
    color: #ffffff;
    font-size: 24px;
    display: inline-block;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 21px;
    padding-bottom: 20px;
}

.mainMenu:hover {
    background-color: #222f3a;
}

.leftBlock {
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 100px;
    width: 342px;
    height: 399px;
    border: 1px solid;
    float: left;
}

.leftBlock ul {
    padding-left: 0;
}

.leftMenu {
    font-family: 'Myriad Pro';
    color: #485863;
    font-size: 27px;
    line-height: 75px;
    display: block;
    text-align: left;
    padding-left: 44px;
}

.leftMenu:hover {
    background-color: #cccccc;
    padding-left: 69px;
    color: #000000;
}

.borderImg {
    width: 884px;
    height: 529px;
    border: 1px solid;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
    overflow: hidden;
}

img {
    width: 320px;
    height: 381px;
    display: block;
    margin: 70px auto;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.text {
    width: 820px;
    height: 250px;
    font-family: 'Myriad Pro';
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 526px;
    clear: left;
}

footer {
    width: 1280px;
    height: 69px;
    background-color: #cccccc;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.footerMenu {
    font-family: 'Myriad Pro';
    color: #0c1927;
    font-size: 28px;
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
}

.footerMenu:hover {
    font-family: 'Myriad Pro';
    color: #3181a6;
    font-size: 28px;
    text-decoration: underline;
}

.footerCopyright {
    font-family: 'Myriad Pro';
    color: #0c1927;
    font-size: 28px;
    margin-left: 180px;
    list-style-type: none;
    display: inline;
}